<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799232426817-5kc50k3ootvv9s7228c3mbc5rdaoi005.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799232426817-5kc50k3ootvv9s7228c3mbc5rdaoi005</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799232426817-o4na2sd1mcuo4fa0ad0knnkukfn5l9nu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxYXng_mUuf905uTffdHLy9rAMe4HWtEI</string>
	<key>GCM_SENDER_ID</key>
	<string>799232426817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmily</string>
	<key>PROJECT_ID</key>
	<string>aman-sellerside-sa</string>
	<key>STORAGE_BUCKET</key>
	<string>aman-sellerside-sa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799232426817:ios:ef839e1c8a4b09f2ac17c0</string>
</dict>
</plist>